{% extends 'portfolio/base.html' %}

{% block content %}


<!-- Navigation Bar -->
<header class="navcustom">
  <nav class="navbar fixed-top navbar-expand-lg scrolling-navbar navbar-dark">
    <a id="brand" class="navbar-brand" href="{% url 'home:index' %}">Ky Codes</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#">Home<span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="{% url 'projects:projects' %}">Projects</a>
          <a class="nav-item nav-link" href="#contact">Contact</a>
        </div>
      </div>
  </nav>
</header>

{% endblock %}
