{% extends 'portfolio/base.html' %}

{% block content %}


<!-- Navigation Bar -->
  <nav class="navbar fixed-top navbar-expand-lg scrolling-navbar navbar-dark navcustom">
    <a id="brand" class="navbar-brand" href="{% url 'home:index' %}">>Ky Codes<</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#">Home<span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="{% url 'projects:projects' %}">Projects</a>
          <a class="nav-item nav-link" href="{% url 'email:email' %}">Contact</a>
        </div>
      </div>
  </nav>
<!-- Banner Image -->
<img class="bigger-img" src="static/img/indexbanner/newbanner.png" alt="bannerimg">

<!-- Skill Set -->
<div id="skills" class="container">
  <div class="row">
    <div class="col-12 col-sm-4">
      <h5 id="lang">Languages and Technologies</h5>
    </div>
      <div class="col-12 col-sm-4">
        <p><i class="fa fa-bath"></i> Python</p>
        <p><i class="fa fa-html5"></i> HTML</p>
        <p><i class="fa fa-css3"></i> CSS</p>
        <p><i class="fa fa-bath"></i> Javascript</p>
      </div>
      <div class="col-12 col-sm-4">
        <p><i class="fa fa-bath"></i> Bootstrap</p>
        <p><i class="fa fa-github"></i> Git/ Github</p>
        <p><i class="fa fa-bath"></i> Django</p>
        <p><i class="fa fa-bath"></i> Node.js</p>
      </div>
  </div>
</div>
<br>




{% endblock %}
