/*body {
  height: 100%;
} */


nav {
  background-color: #0E0F13;
  opacity: 80%;
}

body {
    background-color: #FFFFFF;
}

#brand {
  color: #5AD8D1;
}

.bigger-img {
    width: 100%;
    height: auto;
}

#lang {
  color: black;
}

#skills {
  padding: 100px 50px 100px 50px;
}

#contact {
  padding: 80px 20px 40px 20px;
  background-color: #66FCF1;
}

#contactme {
  color: black;
  text-align: center;
}

.card-1 {
    padding: 20px 10px 20px 10px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

#projs {
    background-color: #FFFFFF;
    padding-top: 40px;
    padding-bottom: 40px;
}

footer {
  background: #10131A;
  padding: 80px 40px 80px 40px;
}

h5 {
  color: #FFFFFF;
  padding-bottom: 20px;
}

#social {
  padding-left: 20px;
}
