body {
  height: 100%;
}

nav {
  background-color: #0E0F13;
  opacity: 80%;
}

#brand {
  color: #5AD8D1;
}

.bigger-img {
    width: 100%;
    height: auto;
}

#lang {
  color: black;
}

#skills {
  padding: 100px 50px 100px 50px;
}

footer {
  background: #10131A;
  padding: 80px 40px 80px 40px;
}

h5 {
  color: #FFFFFF;
}

#social {
  padding-left: 20px;
}
